.clangd
.vscode
.VSCodeCounter
bin
build
cmake_modules
config
debug
debugvs
is_initialized
libs
log
release
release_32
release_64
temp
replace.vim
win32gui
venv
compile_flags.txt
.vimspector.json
cov_tools.zip
cov_tools
