.VSCodeCounter
.a
.clangd
.vimspector.json
.vs
.vscode
:w
:wq
Testing
bin
bin_32
bin_64
build
build_cov
choco
cmake_modules
compile_flags.txt
config
cov-analysis*
cov_tools
cov_tools.zip
curl-for-win.zip
debug
debug_cov
debugvs
debugvs32
is_initialized
log
release
release_32
release_64
replace.vim
repo
temp
tmp
venv
w
winget
co
manifests
wingetcreate.exe
