*.7z
*.exe
*.zip
.VSCodeCounter
.a
.clangd
.vimspector.json
.vs
.vscode
:*
Testing
bin
bin_32
bin_64
build
build_cov
choco
cmake_modules
compile_flags.txt
config
cov-analysis*
cov_tools
debug
debug_cov
debugvs
debugvs32
log
manifests
mingw64
release
release_32
release_64
replace.vim
repo
temp
tmp
venv
w
winget
