.yes {
    color: #00c070 ;
    text-align: center ;
}
.no {
    color: red ;
    text-align: center ;
}
.search-input {
  color: $search-result-preview-color;
}
code {
  color: $grey-lt-200;
}

//codes
.highlight .c {
  color: #58cc75;   
} //comment
.highlight .err {
  color: #f29888;
}
.highlight .g {
  color: #c2cccc;
}
.highlight .l {
  color: #c2cccc;
}
.highlight .n {
  color: #7fddf5;
}
