.yes {
    color: #00c070 ;
    text-align: center ;
}
.no {
    color: red ;
    text-align: center ;
}
.search-input {
  color: $search-result-preview-color;
}
code {
  color: $grey-lt-200;
}

//codes
.highlight .c {
  cikir: #58cc75;   
} //comment
.highlight .nl {
  color: #eee000;
} // name.label //
.highlight .nx |
  color: #eee000;
} //name.other
