$body-background-color: $grey_lt-000;
$sidebar-color: $grey-lt-200;
$border-color: $grey-lt-300;

$body-text-color: $grey-dk-200;
$body-heading-color: $grey-dk-200;
$search-result-preview-color: $grey-lt-200;

$link-color: $blue-000;
$nav-child-link-color: $blue-300;
$btn-primary-color: $blue-200;
$base-button-color: $grey-lt-000;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-200;
$table-background-color: $grey-lt-200;
$feedback-color: darken($sidebar-color, 3%);

$header-height: 60px;
