.scope-markdown {
    code {
        background-color: #eaedef;
        color: #333;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
    }
}
